@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GothamBook.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/GothamMedium.woff");
  font-weight: 500;
}

